d nnnnnnnnnnnnnnnnnnb
scnsbbbbbbbbbbbbbbbbbbbbbbbb
sndddddddddddddddddddddddd
wndbbbbbbbbbbbbbbbbbbbbbb
dbnnnnnnnnnnnnnnnn
sndbbbbbbbbbbbbbbbbb
sdbbbbbbbbbbbbbbbbbb
endbbbbbbbbbbbbbbbbbbbbbbbbbb
kdddddddddddddddddddddddddddddddd
endddddddddddddddddddddddddddddd
imgs/*.png
tt.txt
imgs/*.png