.cards .card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    border-radius: 5px;
}
.cards .card img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}
.cards .card .info{
    flex: 1;
}