*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: #333;
    padding: 10px;
    text-align: center;
}

.nav ul li{
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
    display: flex;
}